doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title  Power Control
    link(rel="stylesheet" href="/Includes/bootstrap-3.3.7/css/bootstrap.min.css")
    script(src="/Includes/jquery-3.1.0.js")
    script(src="/Includes/bootstrap-3.3.7/js/bootstrap.min.js")
  body
    script(src='/javascript/Station.js')
    script(src='/javascript/Relays.js')
    #contenido.container
        #titulo.jumbotron
            center
                h1 Power Control
        #botones.page-header.row
        .row
            .col-md-12
                table(id="tabla", class="table table-striped")
                    thead(id="thead")
                    tbody(id="body")
        #botonLog
        button(type="button" class="btn btn-primary" id="log" target="_blank") Log
    #estacionmodal(class="modal fade", tabindex="-1", role="dialog")
        .modal-dialog(role="dialog")
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal")
                        span &times;
                    h4(class="modal-title" id="productModalTitle")Agregar Estacion
                .modal-body
                    form
                        .form-group
                            label(for="nombre-estacion", class="control-label") Nombre
                            input(type="text", class="form-control", id="nombre-estacion")
                        .form-group
                            label(for="ip-estacion", class="control-label") Ip
                            input(type="text", class="form-control", id="ip-estacion")
                        .form-group
                            label(for="puerto-estacion", class="control-label") Puerto
                            input(type="text", class="form-control", id="puerto-estacion")
                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                    button(type="button" id="btn-guardar" class="btn btn-primary") Guardar
    #relaymodal(class="modal fade", tabindex="-1", role="dialog")
        .modal-dialog(role="dialog")
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal")
                        span &times;
                    h4(class="modal-title" id="productModalTitle")Agregar Relay
                .modal-body
                    form
                        .form-group
                            label(for="nombre-relay", class="control-label") Nombre
                            input(type="text", class="form-control", id="nombre-relay")
                        .form-group
                            label(for="code-relay", class="control-label") Code
                            select(class="form-control", id="code-relay")
                        .form-group
                            label(for="status-relay", class="control-label") Status
                            select(class="form-control", id="status-relay")
                                option(value="true") On
                                option(value="false", selected="selected") Off
                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                    button(type="button" id="btn-guardarRelay" class="btn btn-primary") Guardar